/* INDEX
-----------------------------
1. Import reset.css
2. Fontello Font Icons
3. Body
4. Typography and Global
5. Container
6. Header
7. Slider
8. Inner Page Header
9. Page Layout
10. Sidebar
11. Node Content
12. Comment
13. Footer
14. Custom Homepage
15. Misc
------------------------------*/
/**
 * RESET 
 */
@import "css/reset.css";
/**
 * Font Icons
 */
@font-face {
	font-family: 'fontello';
	src: url('font/fontello.eot?31571515');
	src: url('font/fontello.eot?31571515#iefix') format('embedded-opentype'),
	url('font/fontello.woff?31571515') format('woff'),
	url('font/fontello.ttf?31571515') format('truetype'),
	url('font/fontello.svg?31571515#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-angle-right:before { content: '\e800'; }
.icon-angle-down:before { content: '\e801'; }
.icon-chat:before { content: '\e805'; }
.icon-twitter:before { content: '\e802'; }
.icon-facebook:before { content: '\e803'; }
.icon-gplus:before { content: '\e804'; }
.icon-calendar:before { content: '\e806'; }
.icon-user:before { content: '\e807'; }
.icon-tags:before { content: '\e808'; }
.icon-cog-alt:before { content: '\e809'; }
.icon-twitter, .icon-facebook, .icon-gplus {
	background-color: #ddad58;
	color: #fff;
	padding: 6px;
	margin-left: 4px;
	float: left;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}
.icon-twitter:hover, .icon-facebook:hover, .icon-gplus:hover {
	background-color: #2b2b2b;
}
/**
 * BODY
 */

body {
	background: #201e21;
	color: #ababab;
	font-family: 'Oxygen', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 1em;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
/**
 * 	TYPOGRAPHY AND GLOBAL
 */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	color: #e1e1e1;
	font-style: normal;
	font-weight: normal;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
}

h1{
	font-size: 2.4em;
	line-height: 1.4;
}

h2 {
	font-size: 2em;
	line-height: 1.2;
}

h3 {
  font-size: 1.8em;
  line-height: 1.2;
}

h4{
  font-size: 1.6em;
  line-height: 1.4;
}

h5, h6{
  font-size: 1.4em;
  line-height: 1.4;
}

p {
  margin: 0 0 1em 0;
}

a { 
	color: #ddad58; 
	text-decoration: none; 
}
a:hover { color: #fff; }
a:visited { color: #ddad58; }
a:active, li a.active  { color: #ddad58; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

dl {  margin: 0 0 1.5em 0; }
dl dt {  font-weight: bold; }
dd {  margin-left: 1.5em; }
hr , .line{  
	background: url(images/dash.png) repeat-x;  
	border: none;  
	clear: both;  
	float: none;  
	height: 4px;  
	margin: 0 0 1em;  
	width: 100%; 
}
fieldset {  
	border: 1px solid #000;  
	margin: 0 0 1.4375em;  
	padding: 1.5em; 
}
th, tr, td {  vertical-align: middle; }
th { padding-right: 1em; }
.sticky-header th, .sticky-table th {  
	border-bottom: 3px solid #000;  
	padding-right: 1em;  
	text-align: left; 
}
img {
	max-width: 100%;
	height: auto;
}
blockquote {
	background: #161616;
	border-left: 6px solid #ddad58;
	padding: 12px 10px 10px 20px;
	margin: 10px 0px;
}
code, pre, xmp {
	background-color: #161616;
	border: 1px solid #000;
	display: block;
	padding: 10px;
	margin: 10px 0;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
	font-family: monospace;
}
strong {
	font-weight: bold;
	color: #cbcbcb;
}
i {
	font-style: italic;
}
.clear { clear: both; width: 100%;}
.display-block { display: block; }

/* Table */
table {  margin-bottom: 1.5em;  width: 100%; }
.page-content  table{
	margin-bottom: 1.5em;  
	width: 100%; 
}
.page-content  th{
	font-family: 'Oswald', sans-serif;
	color: #d8d8d8;
	padding: 10px 5px;
	background-color: #161616;
	border: 1px solid #000;
}
.page-content table td{
	border: 1px solid #000;
	padding: 5px;
}

/* List Styles */
li ul, li ol {  margin: 0; }
ul, ol {  
	margin: 0 0 1.5em 0;  
	padding-left: 1.5em; 
}
ul {  list-style-type: disc; }
ol {  list-style-type: decimal; }
.page-content li {
	margin-bottom: 12px;
}
/* Sub Sup */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -.25em;
}
sup {
    top: -.5em;
}
abbr[data-original-title], abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #777;
}
u, ins {
    text-decoration: underline;
}
/* Form */
.form-text, .form-textarea {
	background-color: #201e21;
	color: #ababab;
	border: 1px solid #000;
	outline: 0;
	font-size: 1em;
	padding: 10px 10px 10px 18px;
	line-height: 2;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.form-text:focus, .form-textarea:focus {
	background: #161616;
}
.resizable-textarea .grippie {
	background-color: #201e21;
	border: 1px solid #000;
	border-top: 0;
}
/* Buttons */
.form-submit {
	background: #000;
	color: #ababab;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	border: 0;
	outline: 0;
	padding: 10px 12px;
	cursor: pointer;
	transition: all 0.4s ease-out;
}
.form-submit:hover {
	background: #ddad58;
	color: #000;
}
::selection {
  color: #fff;
  background: #ddad58;
}
::-moz-selection {
  color: #fff;
  background: #ddad58;
}
/**
 * CONTAINER
 */
#container {
	width: 1170px;
	height: auto;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
.container {
	width: 100%;
	max-width: 1170px;
	height: auto;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
}
/**
 * HEADER
 */
#header-top-bg {
	background: #161616 url(images/header-bg.jpg) center center no-repeat;
	width: 100%;
	min-height: 120px;
	position: relative;
}
#header-top {
	height: 110px;
	width: 100%;
	position: relative;
	padding-top: 20px;
}
#header-top #logo {
	float: left;
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
}
#logo h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 2.4em;
	margin: 0;
	line-height: 1;
}
#logo h1, #logo h1 a {
	color: #ddad58;	
}
#site-slogan {
	font-style: italic;
}

/* Main Menu Navigation */
#nav {
	display: block !important;
	position: relative;
	height: 100%;
	width: auto;
	float: right;
	font-family: 'Oswald', sans-serif !important;
	font-size: 16px;
	background: #2d2d2d;
}
#nav .menu:before {
	display: table;
	content: " ";
}
#nav a {
	color: #b5b5b5;
	-webkit-transition: color 0.3s ease-out;
	-moz-transition: color 0.3s ease-out;
	-ms-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;
}
#nav a:hover {
	color: #fff;
}
#nav .menu {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
#nav ul {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	width: auto;
}
#nav ul li {
	width: auto;
	float: left;
}
#nav ul li a{
	display: block;
}
#nav > ul {
	position: relative;
	display: block;
	width: 100%;
	z-index: 500;
}

#nav > ul > li {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav > ul > li > a {
	padding: 10px 20px;
	text-transform: uppercase;
}

#nav li.expanded:after {
	display: block;
	font-family: 'Oxygen', sans-serif;
	content: "+";
	position: absolute;
	right: 1px;
	top: 9px;
}
#nav ul ul li.expanded:after {
	display: block;
	font-family: 'Oxygen', sans-serif;
	content: "+";
	position: absolute;
	right: 20px;
	top: 12px;
}
#nav ul ul {
	position: absolute;
	left: -9999px;
	top: 70px;
	opacity: 0;
	-webkit-transition: opacity .3s ease, top .25s ease;
	-moz-transition: opacity .3s ease, top .25s ease;
	-ms-transition: opacity .3s ease, top .25s ease;
	-o-transition: opacity .3s ease, top .25s ease;
	transition: opacity .3s ease, top .25s ease;
	z-index: 1000;
}

#nav ul ul ul {
	top: 37px;
	padding-left: 5px;
}
#nav ul ul li {
	position: relative;
	border-bottom: 1px solid #1f1f1f;
}
#nav > ul > li:hover > ul {
	left: auto;
	top: 42px;
	opacity: 1;
}

#nav ul ul li:hover > ul {
	left: 170px;
	top: 0;
	opacity: 1;
}
#nav ul ul li a {
	width: 170px;
	background: #2d2d2d;
	padding: 10px 20px 10px 10px;
	margin: 0;
	text-align: left;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
#nav ul ul li a:hover {
	background: #1f1f1f;
}
#nav ul li.leaf {
	list-style: none;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
	margin: 0;
	padding: 0;
}
#nav ul li.expanded {
	list-style: none;
}
/**
 * SLIDER
 */
#header {
	background-image: url(images/slider.jpg);
	width: 100%;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
#slider {
	text-align: center;
	z-index: 10;
}
 
#slider li {
	list-style: none;
}
#slider h1 {
	margin-bottom: 20px;
	font-family: 'Oxygen', sans-serif;
}
#slider .button {
	background: #000;
	color: #ddd;
	padding: 10px 20px;
	border-radius: 3px;
	border: 1px solid #707070;
	-webkit-transition: background 0.4s ease;
	-moz-transition: background 0.4s ease;
	-ms-transition: background 0.4s ease;
	-o-transition: background 0.4s ease;
	transition: background 0.4s ease;

}
#slider .button:hover {
	border: 1px solid #fff;
	background: #ddad58;
}
.scroll {
	position: absolute;
	top: 90vh;
	left: 49%;
}
.arrow-down {
	width: 44px;
	height: 44px;
	border-radius: 100%;
	background: #ddad58;
	text-align: center;
	cursor: pointer;
	-webkit-animation: jump-icon 2s infinite ease-in-out;
	animation: jump-icon 2s infinite ease-in-out;
}
.arrow-down:before {
	content: '\e801';
	font-family: "fontello";
	position: relative;
	top: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
/**
 * INNER PAGE HEADER
 */
#page-header {
	background: #0e0e0e;
	width: 100%;
	min-height: 1px;
	position: relative;
	padding: 30px 0 30px 0;
}
#page-header h1#page-title {
	color: #fff;
	margin: 0;
	padding: 0;
}
/* Breadcrumb Navigation */
.breadcrumb {
	padding-bottom: 1em;
}
.breadcrumb a {
	color: #ddad58;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	transition: color 0.3s ease-in-out;
	
}
.breadcrumb a:hover {
	color: #fff;
}
/**
 * PAGE LAYOUT
 */
 /* 1 Column */
#page-content {
	margin: 0;
	display: inline;
}
 /* 3 Column */
body.two-sidebars #page-content {
	float: left;
	margin: 0 0 0 280px;
	padding: 0;
	width: 590px;
}
/* 2 columns: sidebar-first */
body.sidebar-first #page-content {
	float: right;
	margin: 0;
	padding: 0;
	width: 870px;
}

/* 2 columns: sidebar-second */
body.sidebar-second #page-content {
	float: left;
	margin: 0;
	padding: 0;
	width: 870px;
}
/**
 * SIDEBARS
 */

/* 3 columns: sidebar-first */
body.two-sidebars #sidebar-first {
	float: left;
	margin: 0 0 0 -870px;
	padding: 0;
	width: 250px;
}

/* 3 columns: sidebar-second */
body.two-sidebars #sidebar-second {
	float: right;
	margin: 0;
	padding: 0;
	width: 250px;
}

/* 2 columns: sidebar-first */
body.sidebar-first #sidebar-first {
	float: left;
	margin: 0;
	padding: 0;
	width: 250px;
}

/* 2 columns: sidebar-second */
body.sidebar-second #sidebar-second {
	float: right;
	margin: 0;
	padding: 0;
	width: 250px;
}
.sidebar .block {
	margin-bottom: 40px;
}
.sidebar h3.block-title {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
}
.sidebar h3.block-title:after {
	position: absolute;
	content: '';
	width: 30px;
	border-bottom: 1px solid #ddad58;
    bottom: 0;
    left: 0;
    height: 0;
}
.sidebar ul {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}
.sidebar ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0 0 0 16px;
}
.sidebar ol li, .sidebar ul  li{
	padding: 10px 0;
	margin: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.sidebar ol li:hover, .sidebar ul  li:hover{
	padding-left: 3px;
}
.sidebar ul li:before{
	content: "\e800";
	margin-left: 0;
	margin-right: 8px;
	color: #959494;
	top: 0;
	left: 0;
	position: relative;
	font-family: "fontello";
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.sidebar ul  li:hover:before {
	color: #fff;
}
.sidebar .form-text, .sidebar .form-textarea {
	width: 100%;
}

/**
 * NODE CONTENT
 */
#node-container {
	margin: 30px 0 50px 0;

}
/* Highlighted Block Region */
.highlighted {
	border: 1px solid #000;
	padding: 10px;
	margin-bottom: 14px;
}

.page-content a {
	color: #ddad58;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
.page-content a:hover {
	color: #fff;
}
#page-content .node-teaser{
	background: url(images/dash.png) bottom repeat-x;
	padding-bottom: 40px;
	margin-bottom: 100px;
}
#page-content header h2{
	background: url(images/dash.png) bottom repeat-x;
	padding-bottom: 10px;
}
#page-content .submitted{
	background: url(images/dash.png) bottom repeat-x;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.submitted  .node-date, .submitted  .node-user{
	margin-right: 8px;
}
.submitted  .node-date:before{
	font-family: 'fontello';
	content: '\e806';
	margin-right: 6px;
}
.submitted .node-tags {
    display: inline-block;
}
.submitted .node-tags .field-item {
    display: inline-block;
    margin-left: 4px;
}
.submitted .node-tags .field-item:after {
	content:',';
}
.submitted .node-tags .field-item:last-child:after {
	content:'';
}
.node-links ul li{
	background-color: #000;
	padding: 6px 10px;;
}
/* Page Navigation */
.item-list .pager {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 10px 0;
	margin-top: 40px;
}

/* Admin Tab */
.tabs {
	font-family: 'Oswald', sans-serif;
}
ul.primary {
	border-bottom: 2px solid #000;
	margin: 0 0 6px 0;
	padding: 0;
}
ul.primary li {
	margin: 0;
}
ul.primary li a{
	background-color: #161616;
	border: 0;
	border-radius: 0;
	padding: 14px 30px;
	display: inline-block;
	margin-right: 1px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
ul.primary li a:hover {
	background-color: #000;
	color: #ddad58;
}
ul.primary li.active a {
	background-color: #000;
	border: 0;
}
ul.primary li.active a:hover {
	background-color: #161616;
}

/* Node Editing */
.node-form { }
.node-form  .form-text, .node-form .form-textarea{
	font-family: 'Oxygen', sans-serif;
	width: 100%;
	background-color: #2f2d30;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}
.node-form .form-text:focus, .node-form .form-textarea:focus {
	background: #161616;
}
.filter-wrapper .form-select {
    min-width: 120px;
}
select.form-select {
    border: 1px solid #000;
}
select.form-select {
    padding: 6px;
}
div.vertical-tabs {
	border: 1px solid  #000;
}
.vertical-tabs ul.vertical-tabs-list {
	border: 1px solid  #000;
}
.vertical-tabs ul.vertical-tabs-list li {
	background-color: #383838;
	border: 0;
	border-bottom: 1px solid #000;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
}
.vertical-tabs ul.vertical-tabs-list li:hover{
	background-color: #000;
	border: 0;
	outline: 0;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
	background-color: #000;
	border: 0;
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
	color: #fff;
}
/**
 * COMMENT
 */
#comments {
	background: url(images/dash.png) top repeat-x;
	padding-top: 20px;
}
#comments h2.title {
	background: url(images/dash.png) bottom repeat-x;
	padding-bottom: 6px;
}
#comments h2.title:before {
	font-family: "fontello";
	content: '\e805';
	margin-right: 10px;
}
#comments .comment {
	border: 1px solid #000;
	padding: 0 10px 20px 20px;
}
#comments .comment h3.comment-title {
	background: url(images/dash.png) bottom repeat-x;
	padding-bottom: 6px;
}
#comments .comment .links a {
	background: #000;
	color: #ababab;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	border: 0;
	outline: 0;
	padding: 6px 16px;
	cursor: pointer;
	transition: all 0.4s ease-out;
}
#comments .comment .links a:hover {
	background: #ddad58;
	color: #000;
}
#comments .submitted {
	background: url(images/dash.png) bottom repeat-x;
    display: block;
    margin-bottom: 6px;
    color: #e3e3e3;
}
#comment-form-wrapper textarea, .comment-form textarea {
	font-family: 'Oxygen', sans-serif;
}
/**
 * FOOTER
 */
#footer {
	width: 100%;
	height: auto;
	display: table;
	background: #161616;
	border-top: 2px solid #000;
	color: #acacac;
	position: relative;
	margin: 0;
	padding: 0;
}
.footer-one, .footer-two, .footer-three{
	float: left;
	width: 25%;
	position: relative;
	min-height: 1px;
	padding-right: 4%;
	padding-left: 0;
	padding-top: 40px;
	padding-bottom: 20px;
}
.footer-four {
	float: left;
	width: 25%;
	position: relative;
	min-height: 1px;
	padding-right: 0;
	padding-left: 0;
	padding-top: 40px;
	padding-bottom: 20px;
}
#footer h3.block-title {
	color: #fff;
	margin-top: 0;
	margin-bottom: 22px;
	font-family: 'Oswald', sans-serif;
}
#footer ul {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0;
	list-style: none;
}
#footer ol {
	margin-top: 0;
	margin-bottom: 10px;
	padding: 0 0 0 16px;
}
#footer ul  li{
	padding: 10px 0;
	margin: 0;
	display: block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#footer ol li {
	padding: 10px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#footer ol li:hover, #footer ul  li:hover{
	padding-left: 3px;
}
#footer a{
	color: #9b9b9b;
}
#footer a:hover{
	color: #fff;
}
#footer ul  li:before{
	content: "\e800";
	margin-left: 0;
	margin-right: 8px;
	color: #959494;
	top: 0;
	left: 0;
	position: relative;
	font-family: "fontello";
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#footer ul li:hover:before {
	color: #fff;
}
#footer-bottom {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: table;
	background: #000;
	color: #7e7e7e;
	position: relative;
	text-align: left !important;	
}
#footer-bottom .container {
	padding: 20px 0;
}

#footer-bottom .content a {
	color: #ddd;
	transition: color 0.3s ease;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
}
#footer-bottom .content a:hover {
	color: #ddad58;
}
.copyright {
	float: left;
}
.social-icons {
	float: right;
}
/*
* CUSTOM HOMEPAGE
*/
#home-content {
	width: 100%;
}
/* homepahe header block */
#homepage-header {
	background: #141315;
}
.homepage-header {
	text-align: center;
	padding: 80px 0 90px 0;
}
.one_three {
	margin: 50px 35px 10px 0;
}
.one_three_last {
	margin: 50px 0 10px 0;
}
.one_three, .one_three_last {
	width: 360px;
	float: left;
	min-height: 1px;
	position: relative;
	text-align: center;
}
.one_three .block, .one_three_last .block{
	margin-bottom: 70px;
}
.one_three .block h3, .one_three_last .block h3 {
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
	margin-bottom: 10px;
	position: relative;
}
.one_three .block h3:after, .one_three_last .block h3:after {
	position: absolute;
	content: '';
	width: 30px;
	border-bottom: 1px solid #ddad58;
    bottom: 0;
    left: 0;
    height: 0;
}
.one_three .button, .one_three_last .button{
	background: #000;
	padding: 4px 10px;
}
.homepage-content {
	margin-bottom: 50px;
}

/**
 * MISC
 */
.t_center {
	text-align: center;
 }
 /* Search Form */
#search-block-form .form-submit {
	display: none;
}
/* Profile Page */
.profile h3 {
	border-bottom: 2px solid #000;
}
.sidebar ul.contextual-links li, #footer ul.contextual-links li {
	transition: none;
	padding: 0;
}
.sidebar ul.contextual-links li:before, #footer ul.contextual-links li:before {
	content: '';
	margin: 0;
	padding: 0;
	transition: none;
}

/**
 * Common
 */
.container:after, .container:before , #container:after, #container:before, #header:after, #header:before, 
#footer:after, #footer:before, #copyright:after, #copyright:before , #node-container:after, #node-container:before, #homepage-header:after, #homepage-header:before{
	display: table;
	content: " ";
 }
 .container:after, #container:after,#header:after, #footer:after, #copyright:after, #node-container:after, #homepage-header:after {
	clear: both;
 }
/**
 * Animations
 */
 .morphist > * {
	display: none;
}

.morphist > .animated {
	display: inline-block;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes bounceInDown {
	0%, 60%, 75%, 90%, 100% {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
		animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}

	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}

	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, 25px, 0);
		transform: translate3d(0, 25px, 0);
	}

	75% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}

	90% {
		-webkit-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	}

	100% {
		-webkit-transform: none;
		transform: none;
	}
}

.bounceInDown {
	-webkit-animation-name: bounceInDown;
	animation-name: bounceInDown;
}

@-webkit-keyframes zoomOutDown {
	40% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

@keyframes zoomOutDown {
	40% {
		opacity: 1;
		-webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
		animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	100% {
		opacity: 0;
		-webkit-transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		transform: scale3d(.1, .1, .1) translate3d(0, 2000px, 0);
		-webkit-transform-origin: center bottom;
		transform-origin: center bottom;
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	}
}

.zoomOutDown {
	-webkit-animation-name: zoomOutDown;
	animation-name: zoomOutDown;
}
@keyframes jump-icon {
	0%, 20%, 80%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	50% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.jump {
	-webkit-animation: jump-icon 2s infinite ease-in-out;
	animation: jump-icon 2s infinite ease-in-out;
}
